#count_messages
{
    background-color: #F0F0F0;
    font-size: 1.5em;
}

.message_header h2
{
    color: #06458D;
}

.message_header h2:hover
{
    cursor: pointer;
    color: #0645FF;
}

#add_message
{
    padding: 0;
}

#add_message button
{
    width: 100%;
    color: white;
    border: 0;
    background-color: #4CAF50;
}

#add_message button:hover
{
    background-color: #4CE050;
}

