#count_messages
{
    background-color: #F0F0F0;
    font-size: 1.5em;
}

#main_section
{
    margin-left: 2em;
    margin-right: 2em;
    float: left;
}

.message_content
{
    width: 80%;
}

.message_header h2
{
    color: #06458D;
}

.message_header h2:hover
{
    cursor: pointer;
    color: #0645FF;
}

#add_message
{
    width: 15%;
    float: right;
    padding: 0;
    clear: both;
}

#add_message button
{
    width: 100%;
    color: white;
    border: 0;
    background-color: #4CAF50;
}

#add_message button:hover
{
    background-color: #4CE050;
}

