#message_header
{
    background-color: #F0F0F0;
    font-size: 1.5em;
}

#delete_message button
{
    background-color: crimson;
    color: white;
}

#delete_message button:hover
{
    background-color: red;
}