#headerSection
{
    margin: 2em 2em 1em 2em;
    background-color: #F0F0F0;
}

#headerSection *
{
    margin: 0.5em;
    font-size: 1.5em;
}

#mainSection
{
    margin: 1em 2em 1em 2em;
}

.message
{
    
}

.message_header
{
    margin: 1em;
}

.message_header h2
{
    color: #06458D;
}

.message_header h2:hover
{
    cursor: pointer;
}

.message_brief, .message_content
{
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #FBFBFB;
    border: 0.1em solid #D0D0D0;
}
